<html>
	<body>
		<h1>Sign Up</h1>
		<form action="/signup" method="POST">
			<label for="email">Email</label>
			<input type="text" id="email" name="email" placeholer="enter email" />
			<label for="password">Password</label>
			<input type="password" name="password" id="password" placeholer="enter password"/>
			<label for="age">Age</label>
			<input type="text" name="age" id="age" />
			<label for="zipcode">Zipcode</label>
			<input type="text" name="zipcode" id="zipcode">
			<button class="btn" type="submit">Submit</button>
		</form>
	</body>
</html>